doctype html
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/jquery-1.5.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/jquery.validate.js')
    script(type='text/javascript', src='/javascripts/myScript.js')
    


    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    

  body
    block content





